body {
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	background-image: url("https://images.unsplash.com/photo-1536632856133-3a3441454dd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=150163553a94bdead8eebd9d6bf43280&auto=format&fit=crop&w=800&q=60");
}

header {
  text-align: center;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}


h1 {
  color: rgb(44,105,132);
  font-family: 'Baskerville', serif;
  font-size: 5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 15px;
}

h2 {
  color: rgb(85,130,137);
  font-size: 2em;
  font-family: 'Times New Roman', serif;
}


img {
    border: 5px #ccc solid ;
    padding: 1px;
}

.BlogPhotos {
  height: 500px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


footer {
  text-align: center;
  font-size: 0.8em;
  width: 960px;
	margin: 0 auto;
	background: #808000;
	padding: 0 45px 20px;
  
}
