body {
  background-image: url(https://images.unsplash.com/photo-1517340650606-17091f8e86ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=482d7b9e568749badbb3451a90e72073&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-size: cover;
}

header {
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: 'Paytone One', sans-serif;
  
}

h2 {
  text-align: center;
}

.chiefs-haka {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p {
  color: black;
}

.winning {
    width: 100%;
}

.stadium-birdseye{
    width: 100%;
}

.flex-container-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  
}

/* for tablets at 900px */
@media (max-width: 900px) {
  body {
   font-size: 85%;
  }
}

/* for screen at 750px */
@media (max-width: 750px) {
   h1 {
    font-size: 70%;
  }
  
  .chiefs-haka {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
}

footer {
  text-align: center; 
  font-size: 0.75em;
  padding: 10px;
  background: #eee;
  border-top: 1px solid; 
}